p{
    margin-bottom:5px;
}
.cont{
     background-color: red;
     display: flex;
     justify-content: left;
     gap:5px;
     align-items: center;
     border-top-left-radius: 4px;
     cursor:pointer;
     outline:0;
     position:absolute;
     left:32;
     top:7;
     
}